<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838014333470-ptem8o2qti5fo86nh2rnpks9rbgu4kr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838014333470-ptem8o2qti5fo86nh2rnpks9rbgu4kr3</string>
	<key>API_KEY</key>
	<string>AIzaSyClBdhFSLCBl1cUp7SHXvjAUxFRDzYrd2I</string>
	<key>GCM_SENDER_ID</key>
	<string>838014333470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>projecteiei-e5681</string>
	<key>STORAGE_BUCKET</key>
	<string>projecteiei-e5681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838014333470:ios:b043854fac1190329f740f</string>
</dict>
</plist>